.friendsMain {
  width: 100%;
  margin-left: 5px;
}

.searchFriend {
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.searchFriendForm {
  margin-bottom: 0.5rem;
}

.friendErrorBox.hide {
  display: none;
}

.friendErrorBox.show {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  outline: 2px solid red;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
  padding: 5px;
}

.searchFriendInputBox {
  max-width: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0px;
  padding: 3px;
}

.searchFriendSubmitBtn {
  max-width: 100%;
}

.inputButton {
  width: 95%;
  display: flex;
  gap: 5px;
}

.searchResultDiv,
.friendsDiv,
.pendingRequestsDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pendingRequestsDiv.hide {
  opacity: 0;
  max-height: 0;
}

.inReqTitle {
  margin: 0;
}

.friendsDiv.hide {
  opacity: 0;
}

.searchFriendLabel {
  font-weight: bold;
}
