.binBtn,
.groupIconImage {
  width: 25px;
}

.individualGroupContainer,
.iconTitle,
.friendBtn {
  display: flex;
}

.individualGroupContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.63);
  border-radius: 5px;
  padding: 4px;
}

.iconTitle {
  gap: 0.5rem;
}

.listMembers {
  display: flex;
  gap: 0.25rem;
  overflow: none;
  width: 100%;
}

.memberName,
.groupTitle {
  font-weight: bold;
}

.iconTitle {
  display: flex;
  align-items: center;
  width: 80%;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .iconTitle {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
  }
}
