.tempGroupFriends.hide {
  opacity: 0;
}

.groupFriendsAdd.hide {
  opacity: 0;
}

.newGroupHolder {
  transition: 1s;
  max-height: 2000px;
}

.newGroupHolder.hide {
  opacity: 0;
  max-height: 0;
  visibility: collapse;
}

.errorBox.hide {
  opacity: 0;
  height: 0;
}

.errorBox {
  background-color: red;
  margin-top: 10px;
  outline: 2px solid red;
  border-radius: 5px;
  font-weight: bolder;
  margin-left: 1px;
  text-align: center;
}

.allGroupsContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.groupCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 5px;
  padding: 5px;
}

.groupContainer {
  margin-left: 5px;
}

.createGroupDiv,
.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  width: 100%;
  align-items: center;
}
.inputLabelClass {
  font-weight: bold;
}

.createGroupBtn {
  width: 30%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.newGroupNameInput {
  text-align: center;
}

.confirmGroupBtn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
