.tempGroupFriends.hide {
  opacity: 0;
}

.groupFriendsAdd.hide {
  opacity: 0;
}

.newGroupHolder {
  transition: 1s;
  max-height: 2000px;
}

.newGroupHolder.hide {
  opacity: 0;
  max-height: 0;
  visibility: collapse;
}

.errorBox.hide {
  opacity: 0;
  height: 0;
}

.errorBox {
  margin-top: 10px;
  margin-bottom: 0.5rem;
  display: flex;
  outline: 2px solid red;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
  padding: 5px;
}

.allGroupsContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.groupCont {
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 5px;
  padding: 5px;
}

.groupContainer {
  margin-left: 5px;
}

.createGroupDiv,
.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  width: 100%;
  align-items: center;
}
.inputLabelClass {
  font-weight: bold;
}

.createGroupBtn {
  width: 30%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.newGroupNameInput {
  text-align: center;
}

.confirmGroupBtn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

.iconTitle:hover {
  background-color: white;
  cursor: pointer;
}

@media (max-width: 500px) {
  .individualGroupContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .binBtn {
    position: relative;
    left: 100;
    top: 0;
  }
}
