.binBtn,
.groupIconImage {
  width: 25px;
}

.individualGroupContainer,
.iconTitle,
.friendBtn {
  display: flex;
}

.individualGroupContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.63);
  border-radius: 5px;
  padding: 4px;
}

.iconTitle {
  gap: 0.5rem;
}

.listMembers {
  display: flex;
  gap: 0.25rem;
  overflow-x: scroll;
  width: 100%;
}

.memberName,
.groupTitle {
  font-weight: bold;
}

.listMembers {
  overflow-x: hidden;
}

.iconTitle {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .individualGroupContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .binBtn {
    position: relative;
    left: 100;
    top: 0;
  }
}
