.layoutContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.navBar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition-duration: 1s;
  background-color: white;
  height: fit-content;
  margin-right: 10px;
}

.navBar.show {
  max-width: 100%;
}

.navBar.hide {
  max-width: 0px;
  /* transform: translateX(-100%); */
}

.toggleShow {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: white;
}

.rightArrowImg {
  transition-duration: 1s;
}

.rightArrowImg.show {
  transform: rotate(180deg);
}

.rightArrowImg.hide {
  transform: rotate(0deg);
}
