.navButton {
  border: 0;
  padding: 8px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  transition-duration: 0s;
}

.navButton:hover {
  cursor: pointer;
}

.buttonContainer {
  transition: 3s;
}

.navButton.hide {
  /* visibility: hidden; */
}
