.personProfileContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.profilePicImg {
  background-color: white;
  border-radius: 25px;
  width: 25px;
}

.personProfilePic {
  display: flex;
}

.personName {
  overflow: hidden;
}

.personName:hover {
  cursor: pointer;
}

.personProfileContainer.hide {
  /* visibility: hidden; */
}
