.personProfileContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition-duration: 1s;
  color: white;
  margin-left: 5px;
}

.profilePicImg {
  background-color: white;
  border-radius: 25px;
  width: 25px;
  height: 25px;
}

.personProfilePic {
  display: flex;
}

.personName {
  overflow: hidden;
}

.personProfileContainer:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.profilePicImg.online {
  outline: 3px solid limegreen;
}

.profilePicImg.offline {
  outline: 3px solid grey;
}

.profilePicImg.busy {
  outline: 3px solid red;
}

.profilePicImg.away {
  outline: 3px solid yellow;
}
