.messageBox {
  max-width: 100%;
}

.participantsUserMessage {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  color: white;
  gap: 5px;
  width: fit-content;
  height: 25px;
  text-wrap: wrap;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.568);
  margin-left: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 3px;
}

@media (max-width: 500px) {
  .participantsUserMessage {
    display: flex;
    align-items: center;
    max-width: 200px;
    height: 45px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
  }
  .listOfMembers {
    height: 50%;
    overflow-x: hidden;
  }
}
